#### .gitignore
#### Created by Laurence D. Finston (LDF) Wed 11 Aug 2021 12:18:26 AM CEST

*.dvi
*.log
*.toc
*.log
*.idx
*.uix
*.sdx
/backup
public_domain_full.pdf
public_domain_full.ps
!public_domain_full.dvi